:root {
  --bs-primary: #3296dc !important;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif !important;
}

.primary-color {
  color: #3296dc !important;
}

.btn-primary {
  color: #fff;
  background-color: #3296dc !important;
  border-color: #3296dc !important;
}

.btn-primary:hover {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.a0 .text-color {
  color: #fff;
}

.text-color {
  color: #111;
}

.primary-bg {
  background-color: #fff;
}

h4{
  font-size: 1.85rem!important;
}